<% include partials/_header.ejs %>

    <div class="alert alert-primary" role="alert">
        <%= msg %>
    </div>
    <div id="browse_app">
        <a class="btn btn-large btn-info" href="../desvinculados">Volver</a>
    </div>
    <% include partials/_footer.ejs %>