<% include partials/_header.ejs %>
    <div class="row">
        <div class="container">
            <h2>Ingreso de listados</h2>

        </div>
    </div>
    <!--FORM-->
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form id="uploadForm" enctype="multipart/form-data" action="imports/ingreso" method="post">

                    <div class="form-group">
                        <label class="col-sm-12">Seleccionar Mes</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="mes" type="text">
                                <option value="Enero">Enero</option>
                                <option value="Febrero">Febrero</option>
                                <option value="Marzo">Marzo</option>
                                <option value="Abril">Abril</option>
                                <option value="Mayo">Mayo</option>
                                <option value="Junio">Junio</option>
                                <option value="Julio">Julio</option>
                                <option value="Agosto">Agosto</option>
                                <option value="Septiembre">Septiembre</option>
                                <option value="Octubre">Octubre</option>
                                <option value="Noviembre">Noviembre</option>
                                <option value="Diciembre">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-12">Ingresar Año</label>
                            <div>
                                <input type="text" name="año">
                            </div>
                        </div>
                        <label class="col-sm-12">Elegir Tipo de Lista</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="tipo" type="text">
                                <option value="Colaboradores">Colaboradores</option>
                                <option value="Desvinculados">Desvinculados</option>
                            </select>
                        </div>
                        <div>
                            <label class="col-sm-12">Ingresar Archivo</label>
                            <div>
                                <input type="file" name="file" />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h2>Visualizar Lista</h2>

        </div>
    </div>
    <!--FORM-->
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form id="uploadForm" enctype="multipart/form-data" action="imports/lista" method="get">

                    <div class="form-group">
                        <label class="col-sm-12">Seleccionar Mes</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="periodo" type="text">
                                <option value="Enero">Enero</option>
                                <option value="Febrero">Febrero</option>
                                <option value="Marzo">Marzo</option>
                                <option value="Abril">Abril</option>
                                <option value="Mayo">Mayo</option>
                                <option value="Junio">Junio</option>
                                <option value="Julio">Julio</option>
                                <option value="Agosto">Agosto</option>
                                <option value="Septiembre">Septiembre</option>
                                <option value="Octubre">Octubre</option>
                                <option value="Noviembre">Noviembre</option>
                                <option value="Diciembre">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-12">Ingresar Año</label>
                            <div>
                                <input type="text" name="año">
                            </div>
                        </div>
                        <label class="col-sm-12">Elegir Tipo de Lista</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="tipo" type="text">
                                <option value="Colaboradores">Colaboradores</option>
                                <option value="Desvinculados">Desvinculados</option>
                                <option value="Cruce">Cruce de datos</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h2>Borrar Lista</h2>

        </div>
    </div>
    <!--FORM-->
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form id="uploadForm" enctype="multipart/form-data" action="imports/borrar" method="post">

                    <div class="form-group">
                        <label class="col-sm-12">Seleccionar Mes</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="periodo" type="text">
                                <option value="Enero">Enero</option>
                                <option value="Febrero">Febrero</option>
                                <option value="Marzo">Marzo</option>
                                <option value="Abril">Abril</option>
                                <option value="Mayo">Mayo</option>
                                <option value="Junio">Junio</option>
                                <option value="Julio">Julio</option>
                                <option value="Agosto">Agosto</option>
                                <option value="Septiembre">Septiembre</option>
                                <option value="Octubre">Octubre</option>
                                <option value="Noviembre">Noviembre</option>
                                <option value="Diciembre">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-12">Ingresar Año</label>
                            <div>
                                <input type="text" name="año">
                            </div>
                        </div>
                        <label class="col-sm-12">Elegir Tipo de Lista</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="tipo" type="text">
                                <option value="Colaboradores">Colaboradores</option>
                                <option value="Desvinculados">Desvinculados</option>
                                <option value="Cruce">Cruce de datos</option>
                            </select>
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h2>Generar Cruce de Datos</h2>

        </div>
    </div>
    <!--FORM-->
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form id="uploadForm" enctype="multipart/form-data" action="imports/cruce" method="post">

                    <div class="form-group">
                        <label class="col-sm-12">Seleccionar Mes</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-line" name="periodo" type="text">
                                <option value="Enero">Enero</option>
                                <option value="Febrero">Febrero</option>
                                <option value="Marzo">Marzo</option>
                                <option value="Abril">Abril</option>
                                <option value="Mayo">Mayo</option>
                                <option value="Junio">Junio</option>
                                <option value="Julio">Julio</option>
                                <option value="Agosto">Agosto</option>
                                <option value="Septiembre">Septiembre</option>
                                <option value="Octubre">Octubre</option>
                                <option value="Noviembre">Noviembre</option>
                                <option value="Diciembre">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-12">Ingresar Año</label>
                            <div>
                                <input type="text" name="año">
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>


    <!-- AÑO: <input type="text" name="año" />

    <br> TIPO:
    <select name="tipo">
            <option value="Colaboradores">Colaboradores</option>
            <option value="Desvinculados">Desvinculados</option>
        </select>
    <br>
    <input type="file" name="file" />Upload
    <input type="submit" value="Upload" name="submit">
    </form> -->


    <% include partials/_footer.ejs %>